<?xml version="1.0"?>
<robot name="box_object">
  <link name="box">
    <visual>
      <origin xyz="0 0 0.15"/>
      <geometry><box size="0.3 0.3 0.3"/></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.15"/>
      <geometry><box size="0.3 0.3 0.3"/></geometry>
    </collision>
  </link>
</robot>
