<?xml version="1.0"?>
<robot name="cylinder_object">
  <link name="cyl">
    <visual>
      <origin xyz="0 0 0.2"/>
      <geometry><cylinder radius="0.1" length="0.4"/></geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.2"/>
      <geometry><cylinder radius="0.1" length="0.4"/></geometry>
    </collision>
  </link>
</robot>
